body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ffe4c4;
}
.cont{
    width: 900px;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
}
.form{
    
    width: 40%;
    height: 100%;
    float: left;
    text-align: center;
    background:  #fff;
}
.form form label,.form form input{
    display: block;
    margin: 10px auto;
}
.form form input{
    width: 220px;
    height: 30px;
    border: 1px solid #ccc;
    outline: 0;
}
.form form input[type="submit"]{
    background: darkred;
    color: #fff;
    margin-top: 8%;
}
.form form input[type="submit"]:hover{
    background-color: #a9a9a9;
    cursor: pointer;
}
a{
    color: darkred;
    font-size: 15px;
}

.form h2{
    font-family: sans-serif
}
.form p{
    text-align: center;
    margin: 30px;
}
.form img{
    width: 40%;
    height: 20%;
}
.img{
    width: 60%;
    height: 100%;
    float: right;
    background: #AAA;
}
.img img{
    width: 100%;
    height: 100%;
}